.seprator { width: 100%; height: 2px; flex: 1; background-color: $primary-theme-color;}
.features {
    .card { border-right: 2px dashed $secondary-border-color !important;
        &.border-right { border: none !important;}
    }
}


@media screen and (max-width: 1181px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 576px) {
    .features {
        .card { border: none !important;
            &.border-right { border: none !important;}
        }
}
}

@media screen and (max-width: 414px) {
}