// HEADINGS FONT-SIZE
.heading-lg { font-size: 2.063rem !important; } //33px
.heading-md { font-size: 1.875rem !important; } //30px

// BODY FONT-SIZE
.body-xl { font-size: 1.563rem !important; } //25px
.body-lg { font-size: 1.5rem !important; } //24px
.body-md { font-size: 1.25rem !important; } //20px
.body-sm { font-size: 1.125rem !important; } //18px

@media screen and (max-width: 1181px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 414px) {
}
